<fieldset class="form-group" id="bride_non_member_div" style="display:{{display}}">
    <div class="div">
        <div class="row">
            <div class="col-12">
                <label for="bride_first_name">First Name</label>
                <input type="text" id="bride_first_name" name="bride_first_name" class="form-control"
                    value="{{bride.first_name}}">
            </div>
            <div class="col-12">
                <label for="bride_mid_name">Middle Initial</label>
                <input type="text" id="bride_mid_name" name="bride_mid_name" class="form-control"
                    value="{{bride.middle_name}}">
            </div>
            <div class="col-12">
                <label for="bride_last_name">Last Name</label>
                <input type="text" id="bride_last_name" name="bride_last_name"class="form-control"
                    value="{{bride.last_name}}">
            </div>            
        </div>
    </div>
</fieldset>