<fieldset class="form-group" id="groom_non_member_div" style="display:{{display}}">
    <div class="div">
        <div class="row">
            <div class="col-12">
                <label for="groom_first_name">First Name</label>
                <input type="text" id="groom_first_name" name="groom_first_name" class="form-control"
                    value="{{groom.first_name}}">
            </div>
            <div class="col-12">
                <label for="groom_mid_name">Middle Initial</label>
                <input type="text" id="groom_mid_name" name="groom_mid_name" class="form-control"
                    value="{{groom.middle_name}}">
            </div>
            <div class="col-12">
                <label for="groom_last_name">Last Name</label>
                <input type="text" id="groom_last_name" name="groom_last_name"class="form-control"
                    value="{{groom.last_name}}">
            </div>            
        </div>
    </div>
</fieldset>