<div class='observation' data-observation="{{this.observation_id}}">
  <p>Date of observation: {{dateView this.date}}</p>
  <p>
    Observer: <span class="observer">{{this.observer}}</span> <br>
    Comment: <span class="comment">{{this.comment}}</span>
    <button type="button" class="fas fa-trash delObservationBtn"></button> <button type="button"class="fas fa-edit editObservationBtn"></button>
  </p>
</div>