<div class='col-4' style='margin-bottom: 1em;'>
  <div class='card witness'>
    <div class='card-body'>
      <p class='card-text'>{{this.witness_first_name}} {{this.witness_middle_name}}. {{this.witness_last_name}}</p>
    </div>
  </div>
</div>