<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {{#each styles}}
        <link rel="stylesheet" type="text/css" href="/css/{{this}}.css">
        {{/each}}
        
        {{#each scripts}}
        <script type="text/javascript" src="/js/{{this}}.js"></script>
        {{/each}}

        <title>{{title}}</title>

        <base href="/">
        {{!-- Bootstrap Library --}}
        <link rel="stylesheet" type="text/css" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">

        {{!-- Fontawesome Library --}}
        <link rel="stylesheet" href="/fontawesome/css/all.css">
    </head>
    <body>
        
        {{{body}}}
        {{!-- Bootstrap --}}
        <script src="./bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js">
        </script>
        {{!-- Fontawesome --}}
        <script src="/your-path-to-fontawesome/js/all.js"></script>
        {{!-- JQuery --}}
        <script src="/scripts/jquery-3.6.0.min.js"></script>
    </body>
</html>