<div>
    <h1 data-memberId='100000111'>{{memberId}}</h1>
    <h1>Application runs on Electron window</h1>
    <a href="/login_page">Login</a>
    <a href="/add_member">Add Member</a>
    <a href="/add_prenup">Add Prenup</a>
</div>