<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
  <div class="d-flex flex-row">
    <a id="header" class="navbar-brand mx-3" href="/main_page">Disciple Christian Church | Level {{ level }}</a>
  </div>
  <div class="d-flex justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link mx-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-bars"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div id="maindiv" class="container maindiv d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col mx-5">
      <a href="{{#if canSee}}/member_main_page{{else}}/add_member{{/if}}"><button class="mainBtn" style="min-width: max-content;"><p class="p-2 buttonText" style="font-size: 50pt;"> {{#if canSee}}Members{{else}}Add Member{{/if}} </p></button></a>
    </div>
    <div class="col mx-5">
      <a href="/forms_main_page"><button class="mainBtn" style="min-width: max-content;"><p class="p-2 buttonText" style="font-size: 50pt;"> Registries </p></button></a>
    </div>
  </div>
</div>