{{>navbar}}

<div class="container mt-4">
  <div class="row">
    <div class="col d-flex justify-content-end">
      <a href="/add_member"><i style="width: 3em; height: 3em; color:black;" class="far fa-plus-square"></i></a>
    </div>
  </div>
  <div class="row" style="background-color: aquamarine;">
      <h1> Insert Members Here</h1>
      <a href="/edit_member/1000001">Edit member</a>
  </div>
</div>