@import url(fonts.css);

body {
    background-image: url(../images/sky.jpg);
}

#card {
    background-color: transparent;
    max-width: 38em; 
    border:none;
}

#header {
    font-size: 60pt;
    font-weight: 800;
    text-shadow: 2px 2px 8px #000000;
    color: aliceblue;
    text-align: center;
    font-family: JuliusSansPro
}

.logo {
    position: fixed;
    top: 20;
    left: 20;
    mix-blend-mode: multiply;
}

p {
    font-family: SourceSansPro;
    font-size: 20pt;
}