@import url(fonts.css);

#maindiv {
    min-height: calc(100vh - 56px);
}

#header {
    font-family: JuliusSansPro;
}

.mainBtn {
    border-radius: 6px;
    box-shadow: 1px 1px 5px #858585;
}

.buttonText {
    font-family: SourceSansPro;
    margin: 0;
}